@font-face {
  font-family: 'Circe';
  src: url('@/static/fonts/Circle/Circe-ExtraBold.woff2') format('woff2'),
      url('@/static/fonts/Circle/Circe-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url('@/static/fonts/Circle/Circe-ExtraLight.woff2') format('woff2'),
      url('@/static/fonts/Circle/Circe-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url('@/static/fonts/Circle/Circe-Bold.woff2') format('woff2'),
      url('@/static/fonts/Circle/Circe-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url('@/static/fonts/Circle/Circe-Light.woff2') format('woff2'),
      url('@/static/fonts/Circle/Circe-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url('@/static/fonts/Circle/Circe-Thin.woff2') format('woff2'),
      url('@/static/fonts/Circle/Circe-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url('@/static/fonts/Circle/Circe-Regular.woff2') format('woff2'),
      url('@/static/fonts/Circle/Circe-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

