// media
$xl: 1024px;
$xxl: 1366px;

// fonts
$Circle: 'Circle', sans-serif;
$Lato: 'Lato', sans-serif;

// bottom nav height
$bottomNavbarHeight: 50px;

$menuWidthDesktop: 265px;
$menuWidthMob: 320px;

$navbarTopHeightDesktop: 64px;
$navbarTopHeightMob: 40px;